<ion-content>

  <header class="hero-unit" id="banner">
    <p>This is a tool to control the product data.</p>
    <button class="button button-energized" ng-click="load()">Load data</button>
  </header>

  <div class="card" ng-repeat="p in products">
    <div class="row">
      <div class="col col-10" align="center">
        <img ng-src="{{p.image}}" height="50px">
      </div>
      <div class="col col-30" style="margin-top:10px">
        <input type="text" value="{{p.name}}" ng-model="p.name">
      </div>
      <div class="col col-10" style="margin-top:10px">
        <input type="text" value="{{p.price | currency}}" ng-model="p.price">
      </div>
      <div class="col" style="margin-top:10px">
        <input type="text" class="form-control" value="{{p.description}}" ng-model="p.description">
      </div>
      <div class="col col-10">
        <button class="button button-assertive" ng-click="update($index)">Update</button>
      </div>
      <div class="col col-10">
        <button class="button button-stable" ng-click="delete($index)">Delete</button>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>

</ion-content>
